<html lang="en">

<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet"
            integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <title>MET</title>

</head>
<style>

#met_title{
    color: white;
    background-color: red;
    text-align: center;
}

#intro{
    color:black;
}

.eimg{
    padding: 20px 30px 60px 30px ;
    border: 2px;
    height: 400px;
    width: 430px;
    margin-left: 50px;
}
.eimg:hover{

        transform: scale(1.5)
}
#image_r1{
 display: flex;
 padding-right: 60px;
}
#image_r2{
    display: flex;
 }

 footer {
    text-align: center;
    margin-top: 20px;
    padding: 10px 0;
    background-color: #333;
    color: #fff;
}

</style>

<body id="metbody" action="/form">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/">HOME</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-item nav-link active" href="/about">About <span class="sr-only"></span></a>
                <a class="nav-item nav-link" href="/form">Register</a>
                <a class="nav-item nav-link " href="/login">Admin</a>

            </div>
        </div>
    </nav>

    <h1 id="met_title"> MET Bhujbal Knowledge City</h1>

    <center>
    </br>
<div id="intro">
    <h5>Department of engineering</h5>
    <h2><b><i>MET UTSAV 2023</i></b></h2>
    <p><b>An eagerly awaited Mega annual cultural and sports fest
            of the mumbai educational trust(MET)</b></p>
    <h4>Don't miss this opportunity to explore and show your hidden talent</h4>
    
    <h2><b> REGISTER NOW!!!</b></h2></br></br>    
</div> 
</center>

    <div id="image_r1">
        <img class="eimg" src="https://4.bp.blogspot.com/-YhRWcMsRW6Y/UuSpNb8nz8I/AAAAAAAAAx0/LXd8Y3oMjOc/s1600/met+nashik+utsav+2014.jpg">
        <img class="eimg" src="https://th.bing.com/th/id/R.cbe748e9ca6b3c2867ce01a7e2e796a4?rik=Eylj9fTXDnfh7g&riu=http%3a%2f%2f2.bp.blogspot.com%2f-bK27iK5R_8Q%2fUtBL9vh6yqI%2fAAAAAAAAAtM%2f39I_88CH1ak%2fs1600%2fMET%2bUTSAV%2b2012%2b(27).jpg&ehk=IyxZGhBsWsT9E%2bwOz9x%2b2eBr72Q75KmUB2YZ473Ppsg%3d&risl=&pid=ImgRaw&r=0">
        <img class="eimg" src="https://th.bing.com/th/id/R.f2779c1272441ceeb4026714111fc8e5?rik=%2f8RYdYjMnWnjRQ&riu=http%3a%2f%2f2.bp.blogspot.com%2f-ahyNXfHtvBk%2fUQHHrWvf_tI%2fAAAAAAAAAO4%2fabIDOLQnOVc%2fs640%2fMET%2butsav%2b2013%2b(14).jpg&ehk=7aLU9zf1%2fmO5xCDQptTbrBTV7Lxn1n3ZksJIgMXhVps%3d&risl=&pid=ImgRaw&r=0">
    </div>
    <div id="image_r2">
        <img class="eimg"src="https://i.ytimg.com/vi/-Qb2n1a118A/hqdefault.jpg">
        <img class="eimg"src="https://th.bing.com/th/id/OIP.CvlkVU0idMlgJQU3GN47CAHaD4?pid=ImgDet&rs=1">
        <img class="eimg"src="https://2.bp.blogspot.com/-PoNIwJyFruY/UQHKLayK44I/AAAAAAAAAPs/qd65anhJjFk/s1600/MET+utsav+2013+(1).JPG">
    </div>
 <footer>
        <p>@Copyright 2023. MET Bhujbal Knowledge City, All rights reserved</p>
    </footer>
    </body>

</body>

</html>